@font-face {
    font-family: "HarryPotter";
    src: local("HarryPotter"),
      url("../public/assets/fonts/harry-potter.ttf") format("truetype");
  }

html,body, #root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nameFeet > div {
    font-family: "HarryPotter";
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}